<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Main Page</title>
    <link rel="icon" href="~/Content/Images/loginlogo.png" type="image/png">
    <link href="~/Content/Css/_Sidenav.css" rel="stylesheet" />
    <link href="~/Content/Css/Main.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/Content/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap/js/bootstrap.js"></script>

    <script>
    function redirectToDetail() {
        // Lấy ID người dùng từ phiên làm việc
        var userId = @Session["UserId"];

        // Chuyển hướng đến trang "Detail" với ID người dùng truyền qua query string
        window.location.href = '/Account/Detail?id=' + userId;
    }
    </script>
</head>
<body>
            <div>
                @RenderBody()
            </div>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("upload", required: false)


</body>
</html>
